# Project: cleanning - [candy data]
### this notebook is for educational purpose . in this notebook we will do some cleanning

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">wrangling</a></li>
  
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description 

> i will go through candy data 2017 , this data has :
- Internal_ID
- Q1-Going Out?: Are you actually going trick or treating yourself? "has values `Yes or No`"
- Q2-Gender: It has four different options, `Femal ,Male ,Other ,I'd rather not say`
- Q3-Age: Numerical field
- Q4-Country: Text Field, but users have written their own version of the names. Example, for America, there are entries such as USA, us, US, America so we should consider that while cleanning
- Q5-State/Province: Text Field, but users have written their own version of the names. Same as the country data.
- Q6-Joy Or Despair: All kinds of chocolate bars are the questions with three distinct options to choose from (Joy, Meh, Despair).
- Q7-Joy Other: Text Field to write items not included above that give you JOY. Lots of missing values.
- Q8-Despair Other: Text Field ti write items not included above that give you DESPAIR. Lots of missing values.
- Q9-Other Comments: Text Field. Lots of missing values.
- Q10-Dress: Binary field. Missing values present
- Unnamed: 113
- Q11-Day: Binary Answer Field. Missing values present

# 1- import packages and load data

In [247]:
# pip install matplotlib
import pandas as pd 
import numpy as nd
# import matplotlib.pyplot as plt
# pd.options.display.max_columns

df = pd.read_excel('candyhierarchy2017.xlsx',  engine='openpyxl',)

C:\Users\ahmed\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

<a id='wrangling'></a>
## Data Wrangling



### General Properties

# 2- show some general properties for the data

In [248]:
df.shape
# df.describe()

(2460, 120)

In [249]:
df.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

# 3- write summary about what you get form the above functions
> #### tips : this summary can be about : if there is any missing values , if there a wrong data type , if there a wrong range of values , ....

The dataset appears to have : 
- many NaN value
- collapsible values (us,USA,usa..etc)
- irrelevant and useless rows

# cleaning

### 4- drop all the useless columns and  rows with too much NaN , 
> tip : useless columns can be like `Internal ID`and can be also columns with too much NaN 
- rename columns for easy access

In [250]:
df = df.drop(['Internal ID','Click Coordinates (x, y)','Unnamed: 113'], axis =1)
df.head()

,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q6 | York Peppermint Patties,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo]
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,DESPAIR,Mounds,NaN,Bottom line is Twix is really the only candy w...,White and gold,Sunday,NaN,1.0,NaN,NaN
2,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,DESPAIR,"Reese's crispy crunchy bars, 5th avenue bars, ...",NaN,Raisins can go to hell,White and gold,Sunday,NaN,1.0,NaN,NaN
4,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,JOY,NaN,NaN,NaN,White and gold,Friday,NaN,1.0,NaN,NaN

In [251]:
names_map = {'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)': 'Q6 | Anonymous globs ',
             'Q6 | Candy that is clearly just the stuff given out for free at restaurants':'Q6 | cheap candy',
             'Q6 | Sandwich-sized bags filled with BooBerry Crunch':"Q6 | Booberry bags",
             'Q6 | Real Housewives of Orange County Season 9 Blue-Ray':'Q6 | Real Housewives',
             'Q6 | Any full-sized candy bar':'full candy bar',
             'Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein':'Q6 | corn syrup',
             'Q6 | Those odd marshmallow circus peanut things	':'Q6 | marshmallow circus peanuts',  
             'Q6 | Bonkers (the candy)':'Q6 | Bonkers candy',
             'Q6 | Bonkers (the board game)':'Q6 | Bonkers board game',	
             'Q6 | Cash, or other forms of legal tender' : 'Q6 | legal tender',
             'Q6 | Chick-o-Sticks (we donâ€™t know what that is)':'Q6 | chick sticks candy',
             'Q5: STATE, PROVINCE, COUNTY, ETC':'Q5: AREA'
             }
df = df.rename(columns = names_map,)
df

,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,Q5: AREA,Q6 | 100 Grand Bar,Q6 | Anonymous globs,full candy bar,Q6 | Black Jacks,Q6 | Bonkers candy,...,Q6 | York Peppermint Patties,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo]
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,DESPAIR,Mounds,NaN,Bottom line is Twix is really the only candy w...,White and gold,Sunday,NaN,1.0,NaN,NaN
2,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,DESPAIR,"Reese's crispy crunchy bars, 5th avenue bars, ...",NaN,Raisins can go to hell,White and gold,Sunday,NaN,1.0,NaN,NaN
4,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,JOY,NaN,NaN,NaN,White and gold,Friday,NaN,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,DESPAIR,...,MEH,Mounds,Fruit Stripe Gum,NaN,White and gold,Friday,NaN,NaN,NaN,NaN
2456,No,Female,33,USA,New York,MEH,DESPAIR,JOY,NaN,NaN,...,JOY,NaN,Capers,NaN,Blue and black,Friday,NaN,1.0,NaN,NaN
2457,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,MEH,...,MEH,Tiny bottles of maple syrup as given out by Cr...,NaN,NaN,Blue and black,Friday,NaN,1.0,NaN,NaN
2458,No,Male,58,Usa,North Carolina,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,...,JOY,NaN,NaN,"You hit all my chocolate highlights, and broug...",White and gold,Sunday,1.0,NaN,NaN,NaN

In [252]:
# # cleaning useless redundancy
# columns = list(df.columns)
# new_col = []
# for col in columns:
#   if ':' in col :
#     new_col.append(col.split(':')[1].strip())
#   elif '|' in col :
#     new_col.append(col.split('|')[1].strip())
#   else :
#     new_col.append(col)
# df.columns = new_col
# df.head()

### 5 - clean `going out` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [275]:
df['Q1: GOING OUT?'].isna().sum()
#since 110 resemble less than 5% of the total dataset,dropping is considered
df = df.dropna(subset=['Q1: GOING OUT?'])

### 6 - clean ` gender` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [254]:
df['Q2: GENDER'].unique()
df['Q2: GENDER'].isna().sum()

14

In [255]:
# imputing NaN values in variable like "Gender" to "prefer not to say" would be an option.
df['Q2: GENDER'].fillna("I'd rather not say",inplace =True)
df['Q2: GENDER'].isna().any()

C:\Users\ahmed\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\series.py:4530: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

False

### 7 - clean ` age` column 
> tip : note the type of age column , and NaN values
 - try to use `to_numeric` 
 - tip : you should choose which best value to put in place of these NaNs ( mean, median, ....etc)

In [256]:
df['Q3: AGE'].dtype
df['Q3: AGE'].unique()

array([44, 40, 23, nan, 53, 33, 43, 56, 64, 37, 59, 48, 54, 36, 45, 49,
       25, 34, 35, 38, 58, 50, 47, 16, 52, 63, 41, 27, 61, 46, 42, 62, 29,
       39, 32, 31, 28, 69, 67, 22, 26, 51, 70, 24, 18, 19, 'Old enough',
       57, 60, 66, 12, 30, 'Many', 65, 55, 72, '?', 21, 11, 'no', 9, 68,
       20, 6, 10, 71, 90, 13, '45-55', 312, 99, 7, 'hahahahaha', 88, 39.4,
       74, 102, 'older than dirt', 17, 15, 8, 75, '5u', 'Enough',
       'See question 2', '24-50', 14, 'Over 50', 100, 76, 1000,
       'sixty-nine', '46 Halloweens.', 'ancient', 77, 'OLD', 'old', 73,
       70.5, 1, 'MY NAME JEFF', 4, '59 on the day after Halloween',
       'old enough', 'your mom',
       'I can remember when Java was a cool new language', '60+'],
      dtype=object)

In [257]:
df['Q3: AGE'] = pd.to_numeric(df['Q3: AGE'], errors='coerce', downcast='integer')
# df['AGE'] = df['AGE'].astype(int)
df['Q3: AGE'].dtype

C:\Users\ahmed\AppData\Local\Temp\ipykernel_14544\1005796349.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Q3: AGE'] = pd.to_numeric(df['Q3: AGE'], errors='coerce', downcast='integer')

dtype('float64')

In [258]:
# df = df.loc[df['AGE'].astype(int) <= 120 ]
# df['AGE']

In [259]:
df['Q3: AGE'].fillna(df['Q3: AGE'].mean(),inplace = True)

### 8 - clean ` country` column
> tip : note that country column has country names with different writing ways 
  - use fuzzywuzzy to deal with this problem
  - you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [260]:
pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in c:\users\ahmed\appdata\local\programs\python\python39\lib\site-packages (0.18.0)
Note: you may need to restart the kernel to use updated packages.

In [277]:
df['Q4: COUNTRY'].isna().sum()
df = df.dropna(subset=['Q4: COUNTRY'])

0

In [262]:
df['Q4: COUNTRY'] = df['Q4: COUNTRY'].astype(str)
df['Q4: COUNTRY'] = df['Q4: COUNTRY'].str.strip().str.upper()
# df['COUNTRY'].unique()

In [263]:
from fuzzywuzzy import process

#since there are many of variants.Extract function is used to detect strings similarities
possible_countries = pd.Series(['USA','UK','UNITED STATES OF AMERICA',])

for country in possible_countries:
  matches = process.extract(country , df['Q4: COUNTRY'], limit =df.shape[0])
  for candidate_match in matches:
    # print(candidate_match)
    if candidate_match[1] >= 80 :
      df.loc[df['Q4: COUNTRY'] == candidate_match[0], 'Q4: COUNTRY'] = country
df['Q4: COUNTRY'].unique()

array(['USA', 'CANADA', 'MURICA', 'UNITED STATES OF AMERICA', 'UK', 'UAE',
       'ENGLAND', 'MEXICO', 'U.S.A.', '35', 'FRANCE', 'FINLAND',
       'NORTH CAROLINA', 'NETHERLANDS', 'GERMANY', 'EUROPE', 'EARTH',
       'COSTA RICA', '46', 'AUSTRALIA', 'INSANITY LATELY', 'GREECE',
       'USA? HARD TO TELL ANYMORE..', 'PITTSBURGH', '45', '32', 'CAN',
       'CANAE', 'TRUMPISTAN', 'IRELAND', 'KOREA', 'CALIFORNIA', 'JAPAN',
       'SOUTH AFRICA', 'ICELAND', 'SCOTLAND', 'DENMARK', 'SWITZERLAND',
       'AHEM....AMERCA', 'UD', 'NEW JERSEY', 'INDONESIA',
       'THE NETHERLANDS', 'ENDLAND', 'ATLANTIS', 'MURRIKA', 'ALASKA',
       'SOVIET CANUCKISTAN', 'SINGAPORE', 'CHINA', 'TAIWAN', 'HONG KONG',
       'SPAIN', 'SWEDEN', 'NARNIA', 'U S A', '1',
       'SUBSCRIBE TO DM4UZ3 ON YOUTUBE', "I DON'T KNOW ANYMORE",
       'FEAR AND LOATHING'], dtype=object)

In [264]:
#collapse the remaning manually
map = {'UNITED STATES OF AMERICA':'USA'
       , 'U.S.A.':'USA', 'NORTH CAROLINA':'USA'
       , 'USA? HARD TO TELL ANYMORE..':'USA'
       , 'NEW JERSEY':'USA','NETHERLANDS':'EUROPE'
       , 'U S A':'USA' , 'CALIFORNIA':'USA'
       ,'AHEM....AMERCA' :'USA', 'ENGLAND':'UK',
       'SCOTLAND':'UK','SWEDEN':'EUROPE','UK':'EUROPE',
       'SPAIN':'EUROPE','FRANCE':'EUROPE','FINLAND':'EUROPE',
       'DENMARK':'EUROPE','FINLAND':'EUROPE','GERMANY':'EUROPE',
       'ICELAND':'EUROPE','ENDLAND':'EUROPE','IRELAND':'EUROPE',
       'GREECE':'EUROPE','THE NETHERLANDS':'EUROPE','SWITZERLAND':'EUROPE',
       'KOREA':'ASIA', 'CHINA':'ASIA','TAIWAN':'ASIA',
       'SOVIET CANUCKISTAN':'ASIA','JAPAN':'ASIA','HONG KONG':'ASIA',
       'TRUMPISTAN':'ASIA'
       ,}
df['Q4: COUNTRY'] = df['Q4: COUNTRY'].replace(map)
df['Q4: COUNTRY'] = df['Q4: COUNTRY'].loc[~ df['Q4: COUNTRY'].str.isdigit()]
df['Q4: COUNTRY'].unique()

array(['USA', 'CANADA', 'MURICA', 'EUROPE', 'UAE', 'UK', 'MEXICO', nan,
       'EARTH', 'COSTA RICA', 'AUSTRALIA', 'INSANITY LATELY',
       'PITTSBURGH', 'CAN', 'CANAE', 'ASIA', 'SOUTH AFRICA', 'UD',
       'INDONESIA', 'ATLANTIS', 'MURRIKA', 'ALASKA', 'SINGAPORE',
       'NARNIA', 'SUBSCRIBE TO DM4UZ3 ON YOUTUBE', "I DON'T KNOW ANYMORE",
       'FEAR AND LOATHING'], dtype=object)

In [280]:
df.dropna(subset=['Q4: COUNTRY'])
df['Q4: COUNTRY'].isna().any()

False

### 9 - clean ` area` column
> tip : area column has the same problem as country columns , but looking at all it's unique values may give us another way to deal with it rather than try to fix it

In [266]:
df['Q5: AREA'].unique()
#I have no idea.

array(['NM', 'or', 'exton pa', 'Colorado ', 'ontario', 'Ontario', 'Wa',
       'Quebec', 'NY', 'California', 'Texas', 'NEW YORK', 'CO', 'IN',
       'MN', 'aberdeenshire', 'Alberta', 'Wisconsin, 53705', 'RI', 'NC',
       'Scotland', 'minnesota', 'Michigan', 'Florida', 'New Jersey', 'VA',
       'Colorado', 'Los Angeles, California', 'CA', 'New York ',
       'Chicago, Illinois', 'Nj', 'Wisconsin', 'Minnesota ', nan,
       'London', 'mn', 'TEXAS', 'Illinois', 'District of Columbia',
       'Washington', 'OR', 'Montana', 'New York', 'massachusetts',
       'Abu Dhabi', 'TX', 'Arizona', 'yukon', 'Pennsylvania ', 'MD',
       'Ohio', 'Alberta ', 'OXFORDSHIRE', 'DC', 'Iowa', 'Mn', 'TN', 'BC',
       'Maryland', 'MI', 'Wisconsin ', 'alaska', 'Ny',
       'Colorado, Jefferson county ', 'Louisiana', 'pa',
       'CO, Larimer County', 'Nebraska ', 'Oregon', 'UT', 'ny',
       'Pennsylvania', 'CDMX', 'north carolina', 'Tennessee ', 'Texas ',
       'Knox county, Tennessee', 'New Mexico', 'maine',
       'Virginia, Arlington', 'WA', 'MO', 'Virginia', 'Illinois ', 'Mi',
       'MA', 'Alaska', 'New York, NY', 'Il', 'PA', 'New Hampshire ',
       'Washington ', 'Massachusetts', 'Georgia', 'IL', 'Oregon ',
       'Washington, Clark ', 'NE', 'Oklahoma', 'SC', 'Nebraska', 'mi',
       'Nevada', 'va', 'California ', 'vancouver, bc',
       'Oregon - but will be in Washington for Halloween', 'Ri',
       'Washington, King', 'Massachusetts ', 'Ca', 'wa', 'md', 'new york',
       'Rhode island', 'VT, Chittenden', 'North Carolina', 'pennsylvania',
       'PEnnsylvania', 'Alabama', 'FL, Orange County', 'GA', 'Nope',
       'manitoba', 'colorado', 'california ', 'South Carolina',
       'california', 'Baja California', 'illinois',
       'Santa Cruz County, California', 'MARYLAND', 'NJ', 'North Dakota',
       'Pennsylvania, Montgomery County', 'Astoria NY', 'Michigan ', 'ca',
       'Kansas ', 'sk', 'Missouri', 'Oxfordshire', 'Maine',
       'British Columbia', 'West Virginia', 'Harris County, Texas',
       'USA ', 'ohio', 'ma', 'nc', 'Minnesota', 'Bc', 'oregon',
       'philadelphia', 'Kentucky', 'South Holland', 'Derbyshire', 'hesse',
       'Massachusetts, Plymouth county', 'hi', 'Co', 'Cali', 'vt',
       'CA, Alameda', 'Utah', 'FL', 'Michigan, Shiawassee County',
       'Newfoundland', 'Indiana', 'wisconsin', 'La', 'America', 'Hawaii',
       'California, Alameda', 'Az', 'VT', 'AZ', 'Sub Earth',
       'North dakota', 'virginia', 'Ga', 'alameda county, california',
       'Greater London', 'bc', 'nm', 'WV, Kanawha County ', 'michigan',
       'Florida ', 'tx', 'Washington State', 'Sussex',
       'Washington, King County', 'San Jose', 'florida', 'Connecticut',
       'New Jersey ', 'Orlando, FL', 'ON', 'Saskatchewan',
       'South Carolina ', 'texas', 'newfoundland', 'AB', 'mississippi',
       'Oklahoma ', 'Manitoba ', 'Manchester', 'in', 'rhode island',
       'Ohio ', 'Pa', 'FL ', 'Ut', 'Sydney ', 'CT',
       'oblivion if things keep going this way', 'connecticut',
       'British Columbia ', 'Nunya, Bizness, USA', 'OH',
       'Washington state', 'Oakland, California',
       'Washington, Seattle, king', 'Ontario,  Canada', 'ri',
       'phoenix, maricopa county, arizona', 'Merlin', 'NS',
       'Washington state, Kitsap County', 'cailifornia', 'oakland,ca',
       'QC', 'Missouri ', 'Pittsburgh pa', 'Issaquah, WA, King County ',
       'Washington, seattle, king', 'Massachussets ',
       'Whatcom County, WA', 'Mt', 'NH', 'Michigin', 'Ma', 'KS',
       'washington', 'Oakland County, Michigan', 'Albeqrrta', 'Marne',
       'Noord-Holland', 'Tennessee, Knox County', 'Henrico, VA',
       'Washington State, King County, City of Seattle', 'Washington, DC',
       'nyc', 'qld', 'Santa Barbara co. California', 'Maryland ', 'Ky',
       'New Orleans la ', 'colorado, boulder', 'mo', 'COLORADO', 'Nh',
       'Greater Manchester', 'Fife, Scotland', 'A',
       'Kalamazoo County, MI', 'OREGON', 'Wi', 'Ontario ', 'wv',
       'ulster county, NY', 'NJ, Gloucester', 'calif', 'Or', 'tn', 'MS',
       'NB', 'Vermont', 'Kildare', 'Vermont ', 'ND', 'tennessee',
       'Washington DC', 'Kings, New York ', 'Cook', 'Toronto, Ontario',
       'Victoria', 'Virginia ', 'On', 'nova scotia', 'Tehama',
       'suffolk county ny', 'Santa Clara County, California', 'louisiana',
       'SD', 'Md', 'Missoure', 'IA', 'Colorado larimer county', 'Tokyo',
       'New Mexico, USA', 'ont', 'Califor', 'Idaho', 'Kansas', 'NV',
       'Brooklyn, kings county ny', 'King County, Washington', 'WI',
       'Washington, Island county', 'KwaZulu-Natal', 'Carver county, MN',
       'Ny ', 'Wyoming ', 'Bristol ', 'british columbia',
       'California, San Francisco', 'Glendora, Los Angeles, California',
       'Edinburgh', 'Strathclyde', 'Lancasire', 'Ã˜rbÃ¦k', 'pr', 'Idf',
       'Zuid Holland', 'Osaka', 'Surrey', 'Northern ireland', 'HI',
       'Vaud', 'Arizona ', 'Nova Scotia', 'az', 'see question 2',
       'Midlothian', 'Tennessee', 'Durham County, North Carolina',
       'Missouri, Miller County', 'Glasgow ', 'ct',
       'Cuyahoga County, Ohio', 'Canada', 'Kanagawa ', 'The Shore',
       'Manitoba', 'MD ', 'Devonshire', 'Utah ', 'Tx.', 'maryland',
       'PENNSYLVANIA', 'ONTARIO', 'Jakarta', 'kansas',
       'Mannheim, Baden-WÃ¼rttemberg ', '|NC', 'Wyoming', 'Rotterdam',
       'Ar', 'Arkansas', 'renton,wa ', 'N-Brabant', 'missouri',
       'Georgia ', 'Greifswald', 'British Columbia, Canada', 'kent',
       'Hessen', 'Kentucky ', 'NOYB', 'New york', 'South Dakota',
       'Emerald City, Petrolia', 'New York, New York', 'wa, spokane',
       'new york ', 'Buncombe County, North Carolina',
       'California, San Diego', 'new hampshire', 'USA',
       'California, Ventura County', 'NY, Tompkins County', 'Nj ',
       'Arlington, VA', 'Glasgow', 'kentucky', 'alberta', 'Philadelphia',
       'Portland, maine', 'sc', 'nh', 'NSW', 'califormia', 'New jersey',
       'montana', 'indiana ', 'Mexico city', 'GA - Georgia', 'il', 'WV',
       'Oregon, Multnomah County', 'Vancouver, Wa', 'Nc', 'Atlanta, GA',
       'Washington state ', 'Singapore', 'west virginia',
       'North carolina', 'KY', 'Mo', 'Colorado (CO)', 'Fl', 'wyoming',
       'Nm', 'Dona Ana county, New Mexico', 'UT, Salt Lake', 'Ks',
       'California, Contra Costa County, Pleasant Hill',
       'Shanghai, Chang Ning district ', 'Vt', 'Monroe county',
       'Hong Kong', 'Washingto', 'Dublin ',
       'California, Mendocino County', 'na', 'madrid', 'Hesse',
       'Noord-Brabant', 'Skane', 'ZÃ¼rich', 'Tree Town, USA',
       'New Hampshire', 'Philadelphia, PA',
       'Bristol County, Rhode Island', 'georgia',
       'Newfoundland and Labrador', 'Dublin', 'Oshawa, Ontario, Canada',
       'NL', 'DC ', 'oklahoma', 'NJ; Essex', 'Va', 'Delaware', 'Mich',
       'Ia', 'QuÃ©bec', 'orange county, ca', 'BERKELEY, CA',
       'California, USA', 'NYC', 'St. Louis County, Missouri', 'Munster',
       'Chicago, IL', 'Philadelphia PA', 'Rappahannock County, VA', 'OK',
       'Chicago, IL ', 'Mexico City', 'dc', 'Illinois  ', 'WASHINGTON DC',
       'Tn', 'Connecticut ', 'ill', 'Idaho ', 'Stockholm',
       'New York County, New York City, New York State', 'Chicago',
       'West Yorkshire', 'Berlin', 'arlington, va', 1, 'ur mom',
       'Alaska, Matanuska-Susitna Borough', 'utah', 'Marietta, GA',
       'Northbrook, IL', 'delaware', 'Tx', 'Ont',
       'Northampton County, PA', 'Rhode Island',
       'Pa.   Northampton county', 'California, San Diego county',
       'Bloomington, IN', 'indiana', 'Quenec', 'Londom',
       'st. augustine florida', 'illinois ', 'iowa',
       "The Democratic People's Republic of North Carolina", 'SC ',
       'pennsylvania, northampton couny, easton', 'St Louis mo', 'mt',
       'nj', 'Psychotic', 'quÃ©bec'], dtype=object)

### 10 - clean ` Q6` columns
>- tip : Q6 has all kinds of chocolate bars and questions with three distinct options to choose from (Joy, Meh, Despair).
- so all the column that has Q6 is a candy name , so you should go through all these column and you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [283]:
#Using the same appraoch in Gender task,leaving no answer is sutiable to be classified as a "MEH"
Q6_list = [col  for col in df.columns if 'Q6' in col]

df[Q6_list] = df[Q6_list].fillna(value = "MEH")
df[Q6_list].isna().sum()

Q6 | 100 Grand Bar              0
Q6 | Anonymous globs            0
Q6 | Black Jacks                0
Q6 | Bonkers candy              0
Q6 | Bonkers board game         0
                               ..
Q6 | Vicodin                    0
Q6 | Whatchamacallit Bars       0
Q6 | White Bread                0
Q6 | Whole Wheat anything       0
Q6 | York Peppermint Patties    0
Length: 102, dtype: int64

### 11 - clean ` dress` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [268]:
df['Q10: DRESS'].mode()

0    White and gold
dtype: object

In [269]:
df['Q10: DRESS'].fillna('White and gold',inplace = True)

### 12 - clean ` day` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [270]:
df['Q11: DAY'].fillna('either',inplace=True)

### 13 - check
> after finish cleaning you should make sure your data is clean and that :
- there is no wrong data type
- there is no NaN values 
- all the column are cleaing and ready for the next step `EDA`

In [271]:
df.isna().any()

Q1: GOING OUT?             False
Q2: GENDER                 False
Q3: AGE                    False
Q4: COUNTRY                 True
Q5: AREA                    True
                           ...
Q11: DAY                   False
Q12: MEDIA [Daily Dish]     True
Q12: MEDIA [Science]        True
Q12: MEDIA [ESPN]           True
Q12: MEDIA [Yahoo]          True
Length: 117, dtype: bool

### 14 - write a summary about all the cleaning steps

many cleaning techinques have been used according to the nature of variable and 
NaN count.
for example:
1. droping is considered in low nan-values columns
2. imputing missing values to mode or mean according to type of data wether it a scall or catagory